# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
yarn.lock

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

out/

# data
data/models/

pages/tutorials/*
!pages/tutorials/index.js
data/tutorials/*
!data/tutorials/styles.js

data/datasetsJSON
data/datasets.json
data/datasetsCSV
data/datasets