:not(html) ::-webkit-scrollbar {
    width: 17px;
}

:not(html) ::-webkit-scrollbar-track {
    background-color: transparent;
}

:not(html) ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 28px;
    border: 6px solid transparent;
    background-clip: content-box;
}

:not(html) ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
