.scroll-nav {
    @apply basis-1/6 shrink-0 text-right text-sm hidden lg:block font-poppins overflow-x-hidden;
}


.scroll-nav__item {
    @apply pb-2 px-2;
}
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 28px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
